################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TracePic/bin/Debug
/TracePic/obj
